<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BT_QLSV_QLLH.Properties.Settings.QLSinhVienConnectionString"
            connectionString="Data Source=ADMIN-PC\SQLSERVER;Initial Catalog=QLSinhVien;User ID=Dong;Password=09092005;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="BT_QLSV_QLLH.Properties.Settings.QLLHConnectionString"
            connectionString="Data Source=ADMIN-PC\SQLSERVER;Initial Catalog=QLLH;User ID=Dong;Password=09092005;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>